<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="中鹏教育">
    <meta name="description" content="中鹏教育">
    <link type="image/x-icon" rel="icon" href="http://kc.gdzp.org/favicon.ico" />
    <link rel="stylesheet" href="../../assets/css/common.css?t=201803121421"/>
    <link rel="stylesheet" href="../../assets/css/guanwang/main.min.css"/>
    <title>中鹏教育--资讯详情</title>
    <!--[if lt IE 9]>
    <script src="../../assets/js/iehtml5.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="../../assets/css/guanwang/hack.min.css">
    <![endif]-->

</head>
<body class="g-body">
<header class="g-header" id="g-nav">
    <div class="mid1200 clearfix">
        <h1 class="fl h-logo">中鹏教育</h1>
        <nav class="g-nav fr" id="g-nav">
            <ul class="clearfix g-nav-list">
                <li class="g-nav-item">
                    <a href="">首页</a>
                </li>
                <li class="g-nav-item">
                    <a href="">业务体系</a>
                </li>
                <li class="g-nav-item on">
                    <a href="">资讯中心</a>
                </li>
                <li class="g-nav-item">
                    <a href="">联系我们</a>
                </li>
                <li class="g-nav-item">
                    <a href="">关于中鹏</a>
                    <ul class="g-sub-nav-item">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">企业文化</a></li>
                        <li><a href="">核心团队</a></li>
                    </ul>
                </li>
                <li class="g-nav-item">
                    <a href="">加入我们</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="zxxq-main">
    <div class="mid1200 info-cat-in">
        <div class="header">
            <h1>两会声音：关注职业教育，助力技能强国</h1>
            <p class="time"><em>2018/10/05</em><span>14:06:17</span></p>
        </div>
        <div class="content">
            <p>职业教育与产业改革如何融为一体?如何应对当前普遍存在的职教与产业“两张皮”、“校热企冷”等突出问题？如何通过发展职业教育,营造培育“工匠精神”的良好土壤?</p>
            <p>2017年，“职业教育改革助推制造业发展”成为民进中央的年度重点考察调研选题。通过调研，民进中央提出建议，应从改革国家职业教育管理体制顶层设计入手，设立机制统筹教育部、人社部和其他相关部委、行业协会、企业的各类资源，实现技能人才培养和使用的综合配置、协调发展。</p>
            <p>同时，还应鼓励行业企业参与,释放多元办学主体积极性。设立行业企业参与实习实训准入制度；参与职业教育的企业能享受教育费附加返还以及其他财政补贴(补偿)政策；在科技项目立项、成果评定时将企业参与职业教育作为一项评价依据。职业教育是阻断贫困代际传递最有效的路径。朱永新建议，设立“大国工匠奖”，营造培育“工匠精神”的良好土壤和尊重技能劳动者的社会氛围。</p>
            <img src="../../assets/images/guanwang/template-zxxq.jpg" alt=""/>
            <p>职业教育与产业改革如何融为一体?如何应对当前普遍存在的职教与产业“两张皮”、“校热企冷”等突出问题？如何通过发展职业教育,营造培育“工匠精神”的良好土壤?</p>
            <p>2017年，“职业教育改革助推制造业发展”成为民进中央的年度重点考察调研选题。通过调研，民进中央提出建议，应从改革国家职业教育管理体制顶层设计入手，设立机制统筹教育部、人社部和其他相关部委、行业协会、企业的各类资源，实现技能人才培养和使用的综合配置、协调发展。</p>
            <p>同时，还应鼓励行业企业参与,释放多元办学主体积极性。设立行业企业参与实习实训准入制度；参与职业教育的企业能享受教育费附加返还以及其他财政补贴(补偿)政策；在科技项目立项、成果评定时将企业参与职业教育作为一项评价依据。职业教育是阻断贫困代际传递最有效的路径。朱永新建议，设立“大国工匠奖”，营造培育“工匠精神”的良好土壤和尊重技能劳动者的社会氛围。</p>
        </div>

        <div class="bootom">
            <ul class="clearfix">
                <li class="prev fl">
                    <p class="article-tit"><i class="icon"></i><span>两会声音：关注职业教育，助力技能强国</span></p>
                </li>
                <li class="next fl">
                    <p class="article-tit"><span>两会声音：关注职业教育，助力技能强国</span><i class="icon"></i></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="g-footer">
    <div class="mid1200">
        <div class="footer-top clearfix">
            <div class="fl left">
                <p class="footer-nav">
                    <a href="">关于我们</a>
                    <span>/</span><a href="">企业文化</a>
                    <span>/</span><a href="">法律声明</a>
                    <span>/</span><a href="">申请合作</a>
                    <span>/</span><a href="">联系我们</a>
                    <span>/</span><a href="">加入我们</a>
                </p>
                <ul class="footer-link clearfix" >
                    <li class="first">
                        <i class="icon"><img src="../../assets/images/guanwang/f-1.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">地址</span>
                            <em class="cont">广东省深圳市龙岗校区吉祥地铁站b出口湖广通大厦4楼</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-2.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">邮编</span>
                            <em class="cont">100048</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-3.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">联系号码</span>
                            <em class="cont">400-930-6618</em>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr right">
                <div class="weixin">
                    <img src="../../assets/images/guanwang/f-4.png" alt=""/>
                </div>
                <p class="weixin-desc">关注中鹏</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Copyright ©2001-2018 WENDU Corporation All Rights ReservedXXXXX有限公司 版权所有</p>
            <p class="licensing"><span>XXX出版许可:XXXXXX100085号</span> <em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span></p>
            <ol class="advantage">
                <li><a href=""><img src="../../assets/images/guanwang/f-5.png" alt=""/></a></li>
                <li><a href=""><img src="../../assets/images/guanwang/f-6.png" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>

<div class="float-ad" id="float-ad">
    <div class="float-interaction">
        <div class="interac-item">
            <a class="link" href="javascript:;"><i class="icon icon-1"></i><span>电话</span></a>
            <div class="float-frm-wrapper" style="display: none;">
                <form action="" class="float-frm" >
                    <div class="form-group">
                        <input type="text" placeholder="请输入姓名" value=""/>
                        <span style="display: none;">请输入姓名</span>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入手机号" value=""/>
                        <span style="display: none;">请输入手机号</span>
                    </div>
                    <a href="" class="submit" id="float-frm-submit">提交</a>
                </form>
            </div>
        </div>
        <div class="interac-item">
            <a class="link" href="javascript:;"><i class="icon icon-2"></i><span>QQ</span></a>
        </div>
        <div class="interac-item">
            <a class="link" href="javascript:;"><i class="icon icon-3"></i><span>微信</span></a>
        </div>

        <div class="interac-item">
            <a class="link" href="javascript:;" id="backTop"><i class="icon icon-4"></i><span>返回顶部</span></a>
        </div>
    </div>
</div>

<script src="../../assets/js/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/jquery.SuperSlide.js"></script>
<script src="../../assets/js/guanwang/index.js"></script>
<script src="../../assets/js/guanwang/information.js"></script>
<script src="../../assets/js/guanwang/formCheck.js"></script>
</body>
</html>