<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="中鹏教育">
    <meta name="description" content="中鹏教育">
    <link type="image/x-icon" rel="icon" href="http://kc.gdzp.org/favicon.ico" />
    <link rel="stylesheet" href="../../assets/css/common.css?t=201803121421"/>
    <link rel="stylesheet" href="../../assets/css/guanwang/main.min.css"/>
    <title>中鹏教育--加入我们</title>
    <!--[if lt IE 9]>
    <script src="../../assets/js/iehtml5.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="../../assets/css/guanwang/hack.min.css">
    <![endif]-->

</head>
<body class="g-body">
<header class="g-header" id="g-nav">
    <div class="mid1200 clearfix">
        <h1 class="fl h-logo">中鹏教育</h1>
        <nav class="g-nav fr" id="g-nav">
            <ul class="clearfix g-nav-list">
                <li class="g-nav-item">
                    <a href="">首页</a>
                </li>
                <li class="g-nav-item">
                    <a href="">业务体系</a>
                </li>
                <li class="g-nav-item">
                    <a href="">资讯中心</a>
                </li>
                <li class="g-nav-item">
                    <a href="">联系我们</a>
                </li>
                <li class="g-nav-item">
                    <a href="">关于中鹏</a>
                    <ul class="g-sub-nav-item">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">企业文化</a></li>
                        <li><a href="">核心团队</a></li>
                    </ul>
                </li>
                <li class="g-nav-item on">
                    <a href="">加入我们</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="j-main">
    <div class="j-banner" id="slideBox" >
        <div class="mid1200 j-banner-in">
            <img class="pos-abs-img" src="../../assets/images/guanwang/joinus-1.jpg" alt=""/>
        </div>
    </div>

    <div class="j-content">
        <div class="mid1200 j-content-in">
            <img  class="connect-img" src="../../assets/images/guanwang/joinus-2.png" alt=""/>
            <div class="employ-wrapper" id="j-employ">
                <ul>
                    <li class="tit">
                        <div class="list">
                            <span class="job-name">职位名称</span>
                            <span class="num">人数</span>
                            <span class="edu">学历要求</span>
                            <span class="salary">工资待遇</span>
                            <span class="release-time">发布时间</span>
                        </div>
                    </li>
                    <li class="item exhibition">
                        <div class="list">
                            <span class="job-name">在线销售员</span>
                            <span class="num">若干</span>
                            <span class="edu">高中以上</span>
                            <span class="salary">4000-8000</span>
                            <span class="release-time">2018-03-01</span>
                            <a href="" class="apply">申请加入</a>
                        </div>
                        <div class="desc">
                            <div class="part">
                                <h3>岗位职责：</h3>
                                <ul>
                                    <li>1、负责QQ微信等软件的销售及推广；</li>
                                    <li>2、开拓新市场,发展新客户；</li>
                                    <li>3、负责销售区域内客户拓展、开发、签约，完成销售任务；</li>
                                    <li>4、管理维护客户关系以及客户的长期战略合作计划。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>任职条件：</h3>
                                <p class="sub-tit">我们需要你拥有这些：</p>
                                <ul>
                                    <li>1、我们需要你是90后或00后。</li>
                                    <li>2、我们接受应届毕业生，在校期间从事过2份以上实习工作者优先考虑。</li>
                                    <li>3、我们需要你富有激情、热爱销售工作，敢于挑战，具备较强的沟通、表达、抗压能力。</li>
                                    <li>4、我们需要你注重团队合作精神，有较强的荣誉感。</li>
                                    <li>5、我们需要你具有稳定性，不爱跳槽，没有哪一份工作可以不劳而获。
                                        只要你有梦想，只要你愿意努力，没有什么不可能。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>福利待遇：</h3>
                                <ul>
                                    <li>1、员工生日购买生日蛋糕，法定节假日安排集体聚餐、郊游。</li>
                                    <li>2、无责底薪4000,无上限</li>
                                    <li>3、公司不定期聚餐，团建，旅游团体活动，整体氛围年轻活跃；</li>
                                    <li>4、年轻的团队，轻松、朝气、和谐的氛围。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>我们能对你的成长负责，提供：</h3>
                                <ul>
                                    <li>1、带薪培训——全面掌握销售技能技巧，最快进入工作模式。</li>
                                    <li>2、老带新的团队模式——老员工带新员工，一对一的指导，让你最快融入团队，没有经验也不用担心。</li>
                                    <li>3、优雅的办公环境</li>
                                    <li>4、稳定的工作时间</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="list">
                            <span class="job-name">销售员</span>
                            <span class="num">若干</span>
                            <span class="edu">高中以上</span>
                            <span class="salary">4000-8000</span>
                            <span class="release-time">2018-03-01</span>
                            <a href="" class="apply">申请加入</a>
                        </div>
                        <div class="desc" style="display: none;">
                            <div class="part">
                                <h3>岗位职责：</h3>
                                <ul>
                                    <li>1、负责QQ微信等软件的销售及推广；</li>
                                    <li>2、开拓新市场,发展新客户；</li>
                                    <li>3、负责销售区域内客户拓展、开发、签约，完成销售任务；</li>
                                    <li>4、管理维护客户关系以及客户的长期战略合作计划。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>任职条件：</h3>
                                <p class="sub-tit">我们需要你拥有这些：</p>
                                <ul>
                                    <li>1、我们需要你是90后或00后。</li>
                                    <li>2、我们接受应届毕业生，在校期间从事过2份以上实习工作者优先考虑。</li>
                                    <li>3、我们需要你富有激情、热爱销售工作，敢于挑战，具备较强的沟通、表达、抗压能力。</li>
                                    <li>4、我们需要你注重团队合作精神，有较强的荣誉感。</li>
                                    <li>5、我们需要你具有稳定性，不爱跳槽，没有哪一份工作可以不劳而获。
                                        只要你有梦想，只要你愿意努力，没有什么不可能。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>福利待遇：</h3>
                                <ul>
                                    <li>1、员工生日购买生日蛋糕，法定节假日安排集体聚餐、郊游。</li>
                                    <li>2、无责底薪4000,无上限</li>
                                    <li>3、公司不定期聚餐，团建，旅游团体活动，整体氛围年轻活跃；</li>
                                    <li>4、年轻的团队，轻松、朝气、和谐的氛围。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>我们能对你的成长负责，提供：</h3>
                                <ul>
                                    <li>1、带薪培训——全面掌握销售技能技巧，最快进入工作模式。</li>
                                    <li>2、老带新的团队模式——老员工带新员工，一对一的指导，让你最快融入团队，没有经验也不用担心。</li>
                                    <li>3、优雅的办公环境</li>
                                    <li>4、稳定的工作时间</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="list">
                            <span class="job-name">文员</span>
                            <span class="num">若干</span>
                            <span class="edu">高中以上</span>
                            <span class="salary">4000-8000</span>
                            <span class="release-time">2018-03-01</span>
                            <a href="" class="apply">申请加入</a>
                        </div>
                        <div class="desc" style="display: none;">
                            <div class="part">
                                <h3>岗位职责：</h3>
                                <ul>
                                    <li>1、负责QQ微信等软件的销售及推广；</li>
                                    <li>2、开拓新市场,发展新客户；</li>
                                    <li>3、负责销售区域内客户拓展、开发、签约，完成销售任务；</li>
                                    <li>4、管理维护客户关系以及客户的长期战略合作计划。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>任职条件：</h3>
                                <p class="sub-tit">我们需要你拥有这些：</p>
                                <ul>
                                    <li>1、我们需要你是90后或00后。</li>
                                    <li>2、我们接受应届毕业生，在校期间从事过2份以上实习工作者优先考虑。</li>
                                    <li>3、我们需要你富有激情、热爱销售工作，敢于挑战，具备较强的沟通、表达、抗压能力。</li>
                                    <li>4、我们需要你注重团队合作精神，有较强的荣誉感。</li>
                                    <li>5、我们需要你具有稳定性，不爱跳槽，没有哪一份工作可以不劳而获。
                                        只要你有梦想，只要你愿意努力，没有什么不可能。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>福利待遇：</h3>
                                <ul>
                                    <li>1、员工生日购买生日蛋糕，法定节假日安排集体聚餐、郊游。</li>
                                    <li>2、无责底薪4000,无上限</li>
                                    <li>3、公司不定期聚餐，团建，旅游团体活动，整体氛围年轻活跃；</li>
                                    <li>4、年轻的团队，轻松、朝气、和谐的氛围。</li>
                                </ul>
                            </div>
                            <div class="part">
                                <h3>我们能对你的成长负责，提供：</h3>
                                <ul>
                                    <li>1、带薪培训——全面掌握销售技能技巧，最快进入工作模式。</li>
                                    <li>2、老带新的团队模式——老员工带新员工，一对一的指导，让你最快融入团队，没有经验也不用担心。</li>
                                    <li>3、优雅的办公环境</li>
                                    <li>4、稳定的工作时间</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    

</div>

<div class="g-footer">
    <div class="mid1200">
        <div class="footer-top clearfix">
            <div class="fl left">
                <p class="footer-nav">
                    <a href="">关于我们</a>
                    <span>/</span><a href="">企业文化</a>
                    <span>/</span><a href="">法律声明</a>
                    <span>/</span><a href="">申请合作</a>
                    <span>/</span><a href="">联系我们</a>
                    <span>/</span><a href="">加入我们</a>
                </p>
                <ul class="footer-link clearfix" >
                    <li class="first">
                        <i class="icon"><img src="../../assets/images/guanwang/f-1.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">地址</span>
                            <em class="cont">广东省深圳市龙岗校区吉祥地铁站b出口湖广通大厦4楼</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-2.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">邮编</span>
                            <em class="cont">100048</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-3.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">联系号码</span>
                            <em class="cont">400-930-6618</em>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr right">
                <div class="weixin">
                    <img src="../../assets/images/guanwang/f-4.png" alt=""/>
                </div>
                <p class="weixin-desc">关注中鹏</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Copyright ©2001-2018 WENDU Corporation All Rights ReservedXXXXX有限公司 版权所有</p>
            <p class="licensing"><span>XXX出版许可:XXXXXX100085号</span> <em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span></p>
            <ol class="advantage">
                <li><a href=""><img src="../../assets/images/guanwang/f-5.png" alt=""/></a></li>
                <li><a href=""><img src="../../assets/images/guanwang/f-6.png" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>
<div class="float-ad" id="float-ad">
    <div class="float-interaction">
        <div class="interac-item">
            <a class="link" href="javascript:;"><i class="icon icon-1"></i><span>电话</span></a>
            <div class="float-frm-wrapper" style="display: none;">
                <form action="" class="float-frm" >
                    <div class="form-group">
                        <input type="text" placeholder="请输入姓名" value=""/>
                        <span style="display: none;">请输入姓名</span>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入手机号" value=""/>
                        <span style="display: none;">请输入手机号</span>
                    </div>
                    <a href="" class="submit" id="float-frm-submit">提交</a>
                </form>
            </div>
        </div>
        <div class="interac-item">
            <a class="link" href="javascript:;"><i class="icon icon-2"></i><span>QQ</span></a>
        </div>
        <div class="interac-item">
            <a class="link" href="javascript:;"><i class="icon icon-3"></i><span>微信</span></a>
        </div>

        <div class="interac-item">
            <a class="link" href="javascript:;" id="backTop"><i class="icon icon-4"></i><span>返回顶部</span></a>
        </div>
    </div>
</div>

<script src="../../assets/js/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/guanwang/index.js"></script>
<script src="../../assets/js/guanwang/joinus.js"></script>
<script src="../../assets/js/guanwang/formCheck.js"></script>
</body>
</html>