<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>课程中心--课程介绍--管理学院</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="keywords" content="中鹏教育">
    <meta name="description" content="中鹏教育">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link type="image/x-icon" rel="icon" href="http://kc.gdzp.org/favicon.ico" />
    <link rel="stylesheet" href="../../assets/css/styleGuanli.css">
    <link rel="stylesheet" href="../../assets/plugins/jalendar/jalendar.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/jquery.SuperSlide.js"></script>
    <script src="../../assets/plugins/jalendar/jalendar.js"></script>
</head>
<body class="font_yahei gl-kc-intro-body" style="overflow-x: hidden">

<!--头部1开始-->
<div class="shortcut">
    <div class="container_1200 shortcut_content">
        <div class="shortcut_content_left">
            <a>艺术学院</a>
            <a>继续教育学员</a>
            <a>灵蜥学院</a>
        </div>
        <div class="shortcut_content_right">
            <a><img src="../../assets/images/jixujiaoyu/wechat1.png">关注中鹏</a>
            <a><img src="../../assets/images/jixujiaoyu/consultation1.png">咨询群</a>
        </div>
    </div>
</div>
<!--头部1结束-->

<!--头部2开始-->
<div class="logomore">
    <div class="container_1200 logomore_content">
        <!--logo开始-->
        <div class="logomore_content_left">
            <img class="logomore_content_left_img" src="../../assets/images/jixujiaoyu/blacklogo.png">
            <div class="names">
                <div class="collegeName">
                    管理学院
                </div>
                <div class="cityName">
                    城市：<span id="map_location">深圳市</span>
                    <img src="../../assets/images/jixujiaoyu/citychoose.png">
                </div>
            </div>
        </div>
        <div class="logomore_content_right">
            <div class="search">
                <input type="text" placeholder="搜索课程、通知、疑问疑答">
                <img src="../../assets/images/jixujiaoyu/search.png">
            </div>
            <div class="hotline">
                <img src="../../assets/images/jixujiaoyu/redhotline.png">
                <div class="hotline_content">
                    <div class="hotline_content_name">
                        全国统一服务热线
                    </div>
                    <div class="hotline_content_number">
                        400-930-6618
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--logo结束-->

        <!--导航开始-->
        <ul class="nav">
            <li><a>首页</a></li>
            <li class="nav_active"><a>课程中心</a></li>
            <li><a>报考中心</a></li>
            <li><a>名师介绍</a></li>
            <li><a>学员天地</a></li>
            <li><a>问题交流</a></li>
            <li><a>资料下载</a></li>
            <li><a>关于中鹏</a></li>
            <div class="clear"></div>
        </ul>
        <!--导航结束-->

    </div>
</div>

<div class="nav_drop_down" id="nav1">
    <div id="nav_drop_down_lists">
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_1.png">
            <div>自考</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_2.png">
            <div>成人高考</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_3.png">
            <div>远程教育</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_4.png">
            <div>本科</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--头部2结束-->


<!--面包屑导航开始-->
<div class="crumbs-wrapper">
    <div class="container_1200">
        <div class="bread-nav">
            <img src="../../assets/images/jixujiaoyu/home.png"><span>首页 &gt;</span><span>课程中心 &gt;</span><b>人力资源一级实践班</b>
        </div>
        <div class="banner-text">
            <div class="outer-left fl"><img src="../../assets/images/jixujiaoyu/guanli-kc-002.png" alt=""/></div>
            <div class="outer-right fr">
                <div class="course-outline-top clearfix">
                    <div class="left fl">
                        <h3>工商管理-零起点精讲班</h3>
                        <p class="serve">
                            <span class="cat"><i class="icon"></i><em>考前辅导</em></span>
                            <span class="cat"><i class="icon"></i><em>考前模拟</em></span>
                            <span class="cat"><i class="icon"></i><em>论文辅导</em></span>
                            <span class="cat"><i class="icon"></i><em>学位英语培训</em></span>
                        </p>
                    </div>
                    <div class="price fl">
                        <i>￥</i><span class="num">6000</span>
                    </div>
                </div>
                <ul class="details">
                    <li><i class="icon icon-1"></i><span class="pattern">授课形式：<em>线上直播</em>&ensp;|&ensp;<em>线下面授</em>&ensp;|&ensp;<em>录播视频</em></span></li>
                    <li><i class="icon icon-2"></i><span class="pattern">上课时间：<em>周末授课</em></span></li>
                    <li><i class="icon icon-3"></i><span class="pattern">上课地点：<em>深圳市南山区南山大道亿利达大厦B区2楼</em></span></li>
                </ul>
                <div class="btn-group">
                    <a href="" class="sign"><span>报名</span><img src="../../assets/images/jixujiaoyu/guanli-010.png" alt=""/></a>
                    <a href="" class="apply"><span>申请优惠</span><img src="../../assets/images/jixujiaoyu/guanli-011.png" alt=""/></a>
                    <a href="" class="kefu"><span>联系客服</span><img src="../../assets/images/jixujiaoyu/guanli-011.png" alt=""/></a>
                    <p class="index">课程编号：XJ2018-YSSJ-HNSF-01</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--面包屑导航结束-->

<!--内容开始-->
<!--<div class="container_1200 gl-kczx-header-wrapper">
    <div class="gl-kc-header">
        <ul class="choice-course-type">
            <li class="item-name">课程类型：</li>
            <li class="item on"><a href="">不限</a></li>
            <li class="item"><a href="">心理类</a></li>
            <li class="item"><a href="">劳动关系类</a></li>
            <li class="item"><a href="">人力资源类</a></li>
            <li class="item"><a href="">采购类</a></li>
        </ul>
        <ol class="choice-range">
            <li class="item-name">默认排序</li>
            <li class="item active"><a href="" class="inline-block-group"><span class="inline-block-span">价格排序</span><i class="icon icon-1"></i></a></li>
            <li class="item"><a href="" class="inline-block-group"><span class="inline-block-span">上架时间</span><i class="icon icon-2"></i></a></li>
        </ol>
    </div>
</div>-->
<div class="container_1200 content clearfix kczx-content">
    <div class="content_left">
        <div class="guanli-kecheng-container">
            <div class="item">
                <div class="item-top">
                    <h3 class="cat-name">授课老师</h3>
                </div>
                <div class="slide-box1">
                    <div class="bd">
                        <ul class="picList clearfix">
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/teacher1.png" /></a></div>
                                <div class="title">
                                    <p class="name">林冲</p>
                                    <p class="job"><em>授课科目：</em>高等数学</p>
                                    <p class="intro"><em>教师介绍：</em>华南师范大学教授，广东省2016年高考试题研发人员，连续三年获得华南师范大学最受欢迎教师奖。获得华南师范大学最受欢迎教师奖。</p>
                                </div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/teacher2.png" /></a></div>
                                <div class="title">
                                    <p class="name">林冲</p>
                                    <p class="job">授课科目：高等数学</p>
                                    <p class="intro">教师介绍：华南师范大学教授，广东省2016年高考试题研发人员，连续三年获得华南师范大学最受欢迎教师奖。获得华南师范大学最受欢迎教师奖。</p>
                                </div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/teacher3.png" /></a></div>
                                <div class="title">
                                    <p class="name">林冲</p>
                                    <p class="job">授课科目：高等数学</p>
                                    <p class="intro">教师介绍：华南师范大学教授，广东省2016年高考试题研发人员，连续三年获得华南师范大学最受欢迎教师奖。获得华南师范大学最受欢迎教师奖。</p>
                                </div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/teacher4.png" /></a></div>
                                <div class="title">
                                    <p class="name">林冲</p>
                                    <p class="job">授课科目：高等数学</p>
                                    <p class="intro">教师介绍：华南师范大学教授，广东省2016年高考试题研发人员，连续三年获得华南师范大学最受欢迎教师奖。获得华南师范大学最受欢迎教师奖。</p>
                                </div>
                            </li>
                        </ul>
                        <a href="javascript:" class="prev"></a>
                        <a href="javascript:" class="next"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-top">
                    <h3 class="cat-name">班级详情</h3>
                </div>
                <div class="item-details">
                    <ul class="list">
                        <li>
                            <div class="item-list-left">
                                <i class="icon icon-1"></i>
                                <span>适合学员</span>
                            </div>
                            <p class="item-list-right">工作空余时间比较多的学生。</p>
                        </li>
                        <li>
                            <div class="item-list-left">
                                <i class="icon icon-2"></i>
                                <span>课程介绍</span>
                            </div>
                            <p class="item-list-right">艺术设计专业培养具备艺术设计学教学和研究等方面的知识和能力，能在艺术设计教育、研究、设计、出版和文博等单位从事艺术设计学教学、研究、编辑等方面工作的专门人才。艺术设计专业：包括平面设计专业、环境艺术设计专业、电脑艺术设计专业、装潢艺术设计专业、工业设计（艺术类）、动画专业 服装设计，展示设计等。</p>
                        </li>
                        <li>
                            <div class="item-list-left">
                                <i class="icon icon-3"></i>
                                <span>授课内容</span>
                            </div>
                            <p class="item-list-right">素描与光影绘制训练训练、色彩的知识和实际运用、GUI三大构成、GUI软件基础训练-PS、GUI软件基础训练-AI、CD、GUI软件基础训练-ID、GUI行业要求的设计流程、商业实战。使用工具：Photoshop、DroidDraw、Lumzy、Mockingbird、Dojo、Mocklinkr……</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="item-top">
                    <h3 class="cat-name">同类课程</h3>
                </div>
                <div class="item-same">
                    <ul class="list">
                        <li>
                            <a href="">
                                <img src="../../assets/images/jixujiaoyu/guanli-kc-010.png" alt=""/>
                                <p>劳动关系协调师</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/images/jixujiaoyu/guanli-kc-011.png" alt=""/>
                                <p>采购师</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/images/jixujiaoyu/guanli-kc-012.png" alt=""/>
                                <p>心理咨询师</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content_right">
        <div class="ranking">
            <div class="ranking_icon">热报班级排行</div>
            <ul class="ranking-list">
                <li><i class="num-1">1</i><span>企业管理-零起点精讲班</span></li>
                <li><i class="num-2">2</i><span>电子商务-零起点精讲班</span></li>
                <li><i class="num-3">3</i><span>工商管理-零起点精讲班</span></li>
                <li><i>4</i><span>企业管理-零起点精讲班</span></li>
                <li><i>5</i><span> 电子商务-零起点精讲班</span></li>
                <li><i>6</i><span> 电子商务-零起点精讲班</span></li>
                <li><i>7</i><span>工商管理-零起点精讲班</span></li>
                <li><i>8</i><span>企业管理-零起点精讲班</span></li>
                <li><i>9</i><span>电子商务-零起点精讲班</span></li>
                <li><i>10</i><span> 电子商务-零起点精讲班</span></li>
            </ul>
        </div>
        <div class="browse-history">
            <div class="browse-history_icon">浏览历史</div>
            <ul class="browse-history-list clearfix">
                <li>
                    <i class="num-1"><img src="../../assets/images/jixujiaoyu/guanli-003.png" alt=""/></i>
                    <p>
                        <span>电子商务</span>
                        <span>零起点精讲班</span>
                    </p>
                </li>
                <li>
                    <i class="num-2"><img src="../../assets/images/jixujiaoyu/guanli-004.png" alt=""/></i>
                    <p>
                        <span>电子商务</span>
                        <span>零起点精讲班</span>
                    </p>
                </li>
                <li>
                    <i class="num-3"><img src="../../assets/images/jixujiaoyu/guanli-005.png" alt=""/></i>
                    <p>
                        <span>电子商务</span>
                        <span>零起点精讲班</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="advertisement">
            <img src="../../assets/images/jixujiaoyu/advertisement3.png">
        </div>
        <div class="advertisement">
            <img src="../../assets/images/jixujiaoyu/advertisement4.png">
        </div>

    </div>
</div>
<!--内容结束-->

<!--底部开始-->
<div class="g-footer">
    <div class="container_1200">
        <div class="footer-top clearfix">
            <div class="fl left">
                <p class="footer-nav">
                    <a href="">关于我们</a>
                    <span>/</span><a href="">企业文化</a>
                    <span>/</span><a href="">法律声明</a>
                    <span>/</span><a href="">申请合作</a>
                    <span>/</span><a href="">联系我们</a>
                    <span>/</span><a href="">加入我们</a>
                </p>
                <ul class="footer-link clearfix" >
                    <li class="first">
                        <i class="icon"><img src="../../assets/images/guanwang/f-1.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">地址</span>
                            <em class="cont">广东省深圳市龙岗校区吉祥地铁站b出口湖广通大厦4楼</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-2.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">邮编</span>
                            <em class="cont">100048</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-3.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">联系号码</span>
                            <em class="cont">400-930-6618</em>
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="fr right">
                <div class="weixin">
                    <img src="../../assets/images/guanwang/f-4.png" alt=""/>
                </div>
                <p class="weixin-desc">关注中鹏</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Copyright ©2001-2018 WENDU Corporation All Rights ReservedXXXXX有限公司 版权所有</p>
            <p class="licensing"><span>XXX出版许可:XXXXXX100085号</span> <em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span></p>
            <ol class="advantage">
                <li><a href=""><img src="../../assets/images/guanwang/f-5.png" alt=""/></a></li>
                <li><a href=""><img src="../../assets/images/guanwang/f-6.png" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>
<!--底部结束-->





<script>
    window.onload = function() {
        var obj = $(".nav_drop_down_list");
        $("#nav_drop_down_lists").css("width",obj.length*148);
        /*鼠标划过导航事件*/
        $(".logomore .logomore_content .nav li").hover(function () {
            $("#nav1").stop(true, false).slideToggle("slow");
            $(".nav_active").removeClass("nav_active");
            $(this).addClass("nav_active");
        })
        $(".logomore .logomore_content .nav li").mouseleave(function(){
            setTimeout(function() {//两秒后跳转
                if ($("#nav1").css("display") == "none") {
                    $(".nav_active").removeClass("nav_active");
                }
            },1000);
        });
        $("#nav1").hover(function () {
            $("#nav1").stop(true, false).slideToggle();
            if($("#nav1").css("display")=="none") {
                $(".nav_active").removeClass("nav_active");
            }
        })
    }

    /*轮播*/
    $(function() {
        (function() {
            /*autoPlay:true*/
            if($(".slide-box1").length){
                $(".slide-box1").slide({mainCell:".bd ul",effect:"leftLoop",trigger:"click",vis:2});
            }
        })();
    });

</script>

</body>
</html>