<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>毕业留影--管理学院</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="description" content="这里是对网站的描述">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../assets/css/styleGuanli.css">
    <link rel="stylesheet" href="../../assets/plugins/jalendar/jalendar.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/jquery.SuperSlide.js"></script>
    <script src="../../assets/plugins/jalendar/jalendar.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZpXTKGoufXAqiOE1Qbi3y3BPgrY0OVPs"></script>
</head>
<body class="font_yahei" style="overflow-x: hidden">

<!--头部1开始-->

<div class="shortcut">
    <div class="container_1200 shortcut_content">
        <div class="shortcut_content_left">
            <a>艺术学院</a>
            <a>继续教育学员</a>
            <a>灵蜥学院</a>
        </div>
        <div class="shortcut_content_right">
            <a><img src="../../assets/images/jixujiaoyu/wechat1.png">关注中鹏</a>
            <a><img src="../../assets/images/jixujiaoyu/consultation1.png">咨询群</a>
        </div>
    </div>
</div>

<!--头部1结束-->

<!--头部2开始-->

<div class="logomore">
    <div class="container_1200 logomore_content">

        <!--logo开始-->
        <div class="logomore_content_left">
            <img class="logomore_content_left_img" src="../../assets/images/jixujiaoyu/blacklogo.png">
            <div class="names">
                <div class="collegeName">
                    管理学院
                </div>
                <div class="cityName">
                    城市：<span id="map_location">深圳市</span>
                    <img src="../../assets/images/jixujiaoyu/citychoose.png">
                </div>
            </div>
        </div>
        <div class="logomore_content_right">
            <div class="search">
                <input type="text" placeholder="搜索课程、通知、疑问疑答">
                <img src="../../assets/images/jixujiaoyu/search.png">
            </div>
            <div class="hotline">
                <img src="../../assets/images/jixujiaoyu/redhotline.png">
                <div class="hotline_content">
                    <div class="hotline_content_name">
                        全国统一服务热线
                    </div>
                    <div class="hotline_content_number">
                        400-930-6618
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--logo结束-->

        <!--导航开始-->
        <ul class="nav">
            <li><a>首页</a></li>
            <li><a>课程中心</a></li>
            <li><a>报考中心</a></li>
            <li><a>名师介绍</a></li>
            <li><a>学员天地</a></li>
            <li><a>问题交流</a></li>
            <li><a>资料下载</a></li>
            <li><a>关于中鹏</a></li>
            <div class="clear"></div>
        </ul>
        <!--导航结束-->

    </div>
</div>


<div class="nav_drop_down" id="nav1">
    <div id="nav_drop_down_lists">
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_1.png">
            <div>自考</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_2.png">
            <div>成人高考</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_3.png">
            <div>远程教育</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_4.png">
            <div>本科</div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--头部2结束-->


<!--面包屑导航开始-->

<div class="crumbs container_1200 bordernone">

    <img src="../../assets/images/jixujiaoyu/home.png"> 首页 > <b>在线学习</b>
</div>

<!--面包屑导航结束-->

<!--内容开始-->
<div class="container_1200 content">

    <div class="content_left">

        <div class="video_img_box">
            <img src="../../assets/images/jixujiaoyu/play1.png">
            <div> 在线课程学习</div>
            <img class="video_img_box_play"  src="../../assets/images/jixujiaoyu/play.png">
        </div>
        <div class="video_img_box">
            <img src="../../assets/images/jixujiaoyu/play2.png">
            <div>在线课程学习 </div>
            <img class="video_img_box_play" src="../../assets/images/jixujiaoyu/play.png">
        </div>
        <div class="video_img_box">
            <img src="../../assets/images/jixujiaoyu/play3.png">
            <div>在线课程学习 </div>
            <img class="video_img_box_play" src="../../assets/images/jixujiaoyu/play.png">
        </div>
        <div class="video_img_box">
            <img src="../../assets/images/jixujiaoyu/play4.png">
            <div> 在线课程学习 </div>
            <img class="video_img_box_play" src="../../assets/images/jixujiaoyu/play.png">
        </div>

        <!--分页开始-->
        <div class="page_helper">
            <ul>
                <li><</li>
                <li class="pages page_current">1</li>
                <li class="pages">2</li>
                <li class="pages">3</li>
                <li class="pages">4</li>
                <li class="pages">5</li>
                <li> > </li>
                <span class="clear"></span>
            </ul>

        </div>
        <!--分页结束-->


    </div>


    <div class="content_right">

        <ul class="nav_title">
            <div class="xytd_icon">学员天地</div>
            <li  class="nav_title_active">在线学习<img src="../../assets/images/jixujiaoyu/zxxx.png"></li>
            <li>毕业留影<img src="../../assets/images/jixujiaoyu/byly.png"></li>
            <li>学员活动<img src="../../assets/images/jixujiaoyu/xyhd.png"></li>
            <span class="clear"></span>
        </ul>


        <div class="advertisement">
            <img src="../../assets/images/jixujiaoyu/advertisement3.png">
        </div>
        <div class="advertisement">
            <img src="../../assets/images/jixujiaoyu/advertisement4.png">
        </div>

    </div>
    <div class="clear"></div>




</div>


<!--内容结束-->





<!--底部开始-->

<div class="g-footer">
    <div class="container_1200">
        <div class="footer-top clearfix">
            <div class="fl left">
                <p class="footer-nav">
                    <a href="">关于我们</a>
                    <span>/</span><a href="">企业文化</a>
                    <span>/</span><a href="">法律声明</a>
                    <span>/</span><a href="">申请合作</a>
                    <span>/</span><a href="">联系我们</a>
                    <span>/</span><a href="">加入我们</a>
                </p>
                <ul class="footer-link clearfix" >
                    <li class="first">
                        <i class="icon"><img src="../../assets/images/guanwang/f-1.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">地址</span>
                            <em class="cont">广东省深圳市龙岗校区吉祥地铁站b出口湖广通大厦4楼</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-2.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">邮编</span>
                            <em class="cont">100048</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-3.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">联系号码</span>
                            <em class="cont">400-930-6618</em>
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="fr right">
                <div class="weixin">
                    <img src="../../assets/images/guanwang/f-4.png" alt=""/>
                </div>
                <p class="weixin-desc">关注中鹏</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Copyright ©2001-2018 WENDU Corporation All Rights ReservedXXXXX有限公司 版权所有</p>
            <p class="licensing"><span>XXX出版许可:XXXXXX100085号</span> <em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span></p>
            <ol class="advantage">
                <li><a href=""><img src="../../assets/images/guanwang/f-5.png" alt=""/></a></li>
                <li><a href=""><img src="../../assets/images/guanwang/f-6.png" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>

<!--底部结束-->





<script>

    window.onload = function() {

        var obj = $(".nav_drop_down_list");
        $("#nav_drop_down_lists").css("width",obj.length*148);


        /*鼠标划过导航事件*/
        $(".logomore .logomore_content .nav li").hover(function () {
            $("#nav1").stop(true, false).slideToggle("slow");
            $(".nav_active").removeClass("nav_active");
            $(this).addClass("nav_active");
        })
        $(".logomore .logomore_content .nav li").mouseleave(function(){
            setTimeout(function() {//两秒后跳转
                if ($("#nav1").css("display") == "none") {
                    $(".nav_active").removeClass("nav_active");
                }
            },1000);
        });
        $("#nav1").hover(function () {
            $("#nav1").stop(true, false).slideToggle();
            if($("#nav1").css("display")=="none") {
                $(".nav_active").removeClass("nav_active");
            }
        })

    }
</script>

</body>
</html>