<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>首页--IT学院</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="description" content="这里是对网站的描述">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../assets/css/styleIt.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZpXTKGoufXAqiOE1Qbi3y3BPgrY0OVPs"></script>
</head>
<body class="font_yahei" style="overflow-x: hidden">

<!--头部1开始-->

<div class="shortcut">
    <div class="container_1200 shortcut_content">
        <div class="shortcut_content_left">
             <img src="../../assets/images/it/alert.png">
             <a>中鹏学历优惠服务上线</a>
        </div>
        <div class="shortcut_content_right">
            <a>帮助中心</a>|
            <a>在线客服</a>|
            <a>手机版</a>
        </div>
    </div>
</div>

<!--头部1结束-->

<!--导航开始-->
<div class="nav">
    <div class="container_1200">
        <div class="nav_left">
            <img class="nav_left_img" src="../../assets/images/it/logo.png">
            <div class="nav_left_info">
                <h4>IT学院</h4>
                <p>专注互联网人才培养</p>
            </div>
        </div>
        <ul class="nav_right clearfix">
            <li>
                <a>首页</a>
            </li>
            <li>
                <a class="nav_right_active">Web基础</a>
            </li>
            <li>
                <a>HTML5全栈</a>
            </li>
            <li>
                <a>Python</a>
            </li>
            <li>
                <a>PHP</a>
            </li>
            <li>
                <a>CPDA</a>
            </li>
            <li>
                <a>更多</a>
            </li>
        </ul>
    </div>
</div>

<!--导航结束-->
<!--轮播开始-->
<div id="slideBox" class="slideBox">
    <div class="hd">
        <ul><li></li><li></li><li></li></ul>
    </div>
    <div class="bd">
        <ul>
            <li>
                <a href="#" target="_blank">
                <img src="../../assets/images/it/lunbo.png" />
                    <img class="bannerfont" src="../../assets/images/it/bannerfont.png">
                </a>
            </li>
            <li><a href="#" target="_blank"><img src="../../assets/images/it/lunbo.png" /></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/images/it/lunbo.png" /></a></li>
        </ul>
    </div>
</div>
<script id="jsID" type="text/javascript">
    jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
</script>
<!--轮播结束-->

<!--明星课程开始-->
<div class="star_course container_1200">
    <div class="title">明星课程</div>
    <a class="view_more">查看更多>></a>
    <ul class="star_course_lists clearfix">
        <li>
            <img src="../../assets/images/it/star1.png">
            <div class="star_course_list_title">web基础</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>web基础班</div>
                <div class="star_course_list_info"><b>授课形式：</b>面授+线上视频</div>
                <div class="star_course_list_info"><b>授课时长：</b>9天</div>
                <div class="star_course_list_price"><b>4980</b>元</div>
            </div>
        </li>
        <li>
            <img src="../../assets/images/it/star2.png">
            <div class="star_course_list_title">PHP</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>PHP</div>
                <div class="star_course_list_info"><b>授课形式：</b>面授+线上视频</div>
                <div class="star_course_list_info"><b>授课时长：</b>4个月</div>
                <div class="star_course_list_price"><b>4980</b>元</div>
            </div>
        </li>
        <li>
            <img src="../../assets/images/it/star3.png">
            <div class="star_course_list_title">Python</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>Python</div>
                <div class="star_course_list_info"><b>授课形式：</b>面授+线上视频</div>
                <div class="star_course_list_info"><b>授课时长：</b>4个月</div>
                <div class="star_course_list_price"><b>18800</b>元</div>
            </div>
        </li>
        <li>
            <img src="../../assets/images/it/star4.png">
            <div class="star_course_list_title">HTML5</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>HTML5全栈</div>
                <div class="star_course_list_info"><b>授课时长：</b>4个月</div>
                <div class="star_course_list_price"><b>18800</b>元</div>
            </div>
        </li>
    </ul>

</div>
<!--明星课程结束-->

<!--就业明星开始-->
<div class="employment_star">
    <div class="container_1200">
        <div class="title ">就业明星<span>中鹏IT学院,助你成为下一个他</span></div>
        <ul class="employment_star_lists clearfix">
            <li>
                <img src="../../assets/images/it/employment_star1.png">
                <div class="employment_star_info">
                    <h3>陈方强</h3>
                    <span>WEB开发工程师</span>
                    <span class="employment_star_salary">月薪<b>10K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star2.png">
                <div class="employment_star_info">
                    <h3>陈方强</h3>
                    <span>WEB开发工程师</span>
                    <span class="employment_star_salary">月薪<b>10K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star3.png">
                <div class="employment_star_info">
                    <h3>李耀文</h3>
                    <span>UI设计师</span>
                    <span class="employment_star_salary">月薪<b>9K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star4.png">
                <div class="employment_star_info">
                    <h3>梁超文</h3>
                    <span>HTML5工程师</span>
                    <span class="employment_star_salary">月薪<b>10K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star5.png">
                <div class="employment_star_info">
                    <h3>刘慧</h3>
                    <span>UI设计师</span>
                    <span class="employment_star_salary">月薪<b>12K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star6.png">
                <div class="employment_star_info">
                    <h3>秦芳</h3>
                    <span>网页设计师</span>
                    <span class="employment_star_salary">月薪<b>8K</b></span>
                </div>
            </li>

        </ul>

    </div>
</div>

<!--就业明星结束-->

<!--小班制教学开始-->
<div class="microteaching">
    <div class="microteaching_content container_1200">
        <div class="microteaching_title">
            <span class="microteaching_title_blue">小班制教学</span>
            <span class="microteaching_title_darkblue">闯关式考核</span>
            <span class="microteaching_title_pink">实战型训练</span>
        </div>
        <ul class="microteaching_lists clearfix">
            <li>
                小班制授课<br>杜绝大班教学
            </li>
            <li>
                全程面授<br>杜绝直播教学<br>杜绝视频教学
            </li>
            <li>
                个性化教学<br>闯关式考核<br>轻松学好前端
            </li>
            <li>
                定期更新课程<br>紧扣前沿<br>核心技术
            </li>
            <li>
                推荐就业<br>职业规划师<br>全程指导
            </li>

        </ul>

        <a class="microteaching_more">了解课程详情</a>
    </div>

</div>
<!--小班制教学结束-->

<!--猎聘专区开始-->

<div class="recruitment">
  <div class="container_1200">
      <div class="recruitment_title">
          猎聘专区
      </div>
      <ul class="recruitment_lists clearfix">
          <li>
              <img src="../../assets/images/it/recruitment1.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>
          <li>
              <img src="../../assets/images/it/recruitment2.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>
          <li>
              <img src="../../assets/images/it/recruitment3.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>
          <li>
              <img src="../../assets/images/it/recruitment4.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>

      </ul>

  </div>
</div>

<!--猎聘专区结束-->

<!--明星导师开始-->
<div class="star_tutor">
    <div class="container_1200">
        <div class="star_tutor_title">
            明星导师
        </div>
        <ul class="star_tutor_lists clearfix">
            <li class="star_tutor_info_active">
                <img src="../../assets/images/it/star_tutor1.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor2.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor3.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor4.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor5.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
        </ul>

    </div>

</div>
<!--明星导师结束-->

<br><br><br><br><br><br><br><br>
<script>
    $(function () {
        $(".star_tutor_lists li").hover(function () {
            $(this).siblings().removeClass("star_tutor_info_active");
            $(this).addClass("star_tutor_info_active");
        })
    })
</script>

</body>
</html>