<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>首页--IT学院</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="description" content="这里是对网站的描述">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../assets/css/styleIt.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZpXTKGoufXAqiOE1Qbi3y3BPgrY0OVPs"></script>
</head>
<body class="font_yahei" style="overflow-x: hidden">

<!--头部1开始-->

<div class="shortcut">
    <div class="container_1200 shortcut_content">
        <div class="shortcut_content_left">
             <img src="../../assets/images/it/alert.png">
             <a>中鹏学历优惠服务上线</a>
        </div>
        <div class="shortcut_content_right">
            <a>帮助中心</a>|
            <a>在线客服</a>|
            <a>手机版</a>
        </div>
    </div>
</div>

<!--头部1结束-->

<!--导航开始-->
<div class="nav">
    <div class="container_1200">
        <div class="nav_left">
            <img class="nav_left_img" src="../../assets/images/it/logo.png">
            <div class="nav_left_info">
                <h4>IT学院</h4>
                <p>专注互联网人才培养</p>
            </div>
        </div>
        <ul class="nav_right clearfix">
            <li>
                <a>首页</a>
            </li>
            <li>
                <a class="nav_right_active">Web基础</a>
            </li>
            <li>
                <a>HTML5全栈</a>
            </li>
            <li>
                <a>Python</a>
            </li>
            <li>
                <a>PHP</a>
            </li>
            <li>
                <a>CPDA</a>
            </li>
            <li style="position: relative">
                <a>更多 <span>3</span></a>
                <ul class="nav_more">
                    <li><a>继续教育学院</a></li>
                    <li><a>管理学院</a></li>
                    <li><a>设计艺术学院</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--导航结束-->
<!--轮播开始-->
<div id="slideBox" class="slideBox">
    <div class="hd">
        <ul><li></li><li></li><li></li></ul>
    </div>
    <div class="bd">
        <ul>
            <li>
                <a href="#" target="_blank">
                <img src="../../assets/images/it/lunbo.png" />
                    <img class="bannerfont" src="../../assets/images/it/bannerfont.png">
                </a>
            </li>
            <li><a href="#" target="_blank"><img src="../../assets/images/it/lunbo.png" /></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/images/it/lunbo.png" /></a></li>
        </ul>
    </div>
</div>
<script id="jsID" type="text/javascript">
    jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
</script>
<!--轮播结束-->

<!--明星课程开始-->
<div class="star_course container_1200">
    <div class="title">明星课程</div>
    <a class="view_more">查看更多>></a>
    <ul class="star_course_lists clearfix">
        <li>
            <img src="../../assets/images/it/star1.png">
            <div class="star_course_list_title">web基础</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>web基础班</div>
                <div class="star_course_list_info"><b>授课形式：</b>面授+线上视频</div>
                <div class="star_course_list_info"><b>授课时长：</b>9天</div>
                <div class="star_course_list_price"><b>4980</b>元</div>
            </div>
        </li>
        <li>
            <img src="../../assets/images/it/star2.png">
            <div class="star_course_list_title">PHP</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>PHP</div>
                <div class="star_course_list_info"><b>授课形式：</b>面授+线上视频</div>
                <div class="star_course_list_info"><b>授课时长：</b>4个月</div>
                <div class="star_course_list_price"><b>4980</b>元</div>
            </div>
        </li>
        <li>
            <img src="../../assets/images/it/star3.png">
            <div class="star_course_list_title">Python</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>Python</div>
                <div class="star_course_list_info"><b>授课形式：</b>面授+线上视频</div>
                <div class="star_course_list_info"><b>授课时长：</b>4个月</div>
                <div class="star_course_list_price"><b>18800</b>元</div>
            </div>
        </li>
        <li>
            <img src="../../assets/images/it/star4.png">
            <div class="star_course_list_title">HTML5</div>
            <div class="star_course_list_infos">
                <div class="star_course_list_info"><b>课程名称：</b>HTML5全栈</div>
                <div class="star_course_list_info"><b>授课时长：</b>4个月</div>
                <div class="star_course_list_price"><b>18800</b>元</div>
            </div>
        </li>
    </ul>

</div>
<!--明星课程结束-->

<!--就业明星开始-->
<div class="employment_star">
    <div class="container_1200">
        <div class="title ">就业明星<span>中鹏IT学院,助你成为下一个他</span></div>
        <ul class="employment_star_lists clearfix">
            <li>
                <img src="../../assets/images/it/employment_star1.png">
                <div class="employment_star_info">
                    <h3>陈方强</h3>
                    <span>WEB开发工程师</span>
                    <span class="employment_star_salary">月薪<b>10K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star2.png">
                <div class="employment_star_info">
                    <h3>陈方强</h3>
                    <span>WEB开发工程师</span>
                    <span class="employment_star_salary">月薪<b>10K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star3.png">
                <div class="employment_star_info">
                    <h3>李耀文</h3>
                    <span>UI设计师</span>
                    <span class="employment_star_salary">月薪<b>9K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star4.png">
                <div class="employment_star_info">
                    <h3>梁超文</h3>
                    <span>HTML5工程师</span>
                    <span class="employment_star_salary">月薪<b>10K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star5.png">
                <div class="employment_star_info">
                    <h3>刘慧</h3>
                    <span>UI设计师</span>
                    <span class="employment_star_salary">月薪<b>12K</b></span>
                </div>
            </li>
            <li>
                <img src="../../assets/images/it/employment_star6.png">
                <div class="employment_star_info">
                    <h3>秦芳</h3>
                    <span>网页设计师</span>
                    <span class="employment_star_salary">月薪<b>8K</b></span>
                </div>
            </li>

        </ul>

    </div>
</div>

<!--就业明星结束-->

<!--小班制教学开始-->
<div class="microteaching">
    <div class="microteaching_content container_1200">
        <div class="microteaching_title">
            <span class="microteaching_title_blue">小班制教学</span>
            <span class="microteaching_title_darkblue">闯关式考核</span>
            <span class="microteaching_title_pink">实战型训练</span>
        </div>
        <ul class="microteaching_lists clearfix">
            <li>
                小班制授课<br>杜绝大班教学
            </li>
            <li>
                全程面授<br>杜绝直播教学<br>杜绝视频教学
            </li>
            <li>
                个性化教学<br>闯关式考核<br>轻松学好前端
            </li>
            <li>
                定期更新课程<br>紧扣前沿<br>核心技术
            </li>
            <li>
                推荐就业<br>职业规划师<br>全程指导
            </li>

        </ul>

        <a class="microteaching_more">了解课程详情</a>
    </div>

</div>
<!--小班制教学结束-->

<!--猎聘专区开始-->

<div class="recruitment">
  <div class="container_1200">
      <div class="recruitment_title">
          猎聘专区
      </div>
      <ul class="recruitment_lists clearfix">
          <li>
              <img src="../../assets/images/it/recruitment1.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>
          <li>
              <img src="../../assets/images/it/recruitment2.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>
          <li>
              <img src="../../assets/images/it/recruitment3.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>
          <li>
              <img src="../../assets/images/it/recruitment4.png">
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
              <div>
                  深圳市云趣网络科技股份有限公司  <span>深圳-南山区</span>  <br>
                  <b>1-1.5万/月</b>
              </div>
          </li>

      </ul>

  </div>
</div>

<!--猎聘专区结束-->

<!--明星导师开始-->
<div class="star_tutor">
    <div class="container_1200">
        <div class="star_tutor_title">
            明星导师
        </div>
        <ul class="star_tutor_lists clearfix">
            <li class="star_tutor_info_active">
                <img src="../../assets/images/it/star_tutor1.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor2.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor3.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor4.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
            <li>
                <img src="../../assets/images/it/star_tutor5.png">
                <div class="star_tutor_info">
                    <div><b>姜贞兰</b>C++讲师</div>
                    <p>八年培训机构教学及教学管理经验，参与24小时心电监护系统（Holter）、脑电图（BEAM）等多个项目的研发，并发表多篇学术论</p>
                </div>
                <div class="blackMask"></div>
            </li>
        </ul>

    </div>

</div>
<!--明星导师结束-->


<!--优惠专区开始-->
<div class="panel discount" id="discount">
    <div class="container_1200 discount-in">
        <h2 class="tit wow">
            <span class="name">优惠<em>专区</em></span>
            <span class="desc">优惠尊享&ensp;<strong>3月火爆</strong>开抢</span>
        </h2>
        <div class="discount-contain clearfix">
            <div class="discount-wrapper discount-1 fl ">
                <div class="header">
                    <img class="pos-abs-img" src="../../assets/images/shejiyishu/sjys-66.png" alt="">
                    <h3>抵扣券福利<span class="instru">（全民美感素养建设公益课）</span></h3>
                </div>
                <ul class="details">
                    <li class="buy"><span>购买</span><em>《设计美术》或《ps软件基础》</em></li>
                    <li class="gift">
                        <span>赠送</span>
                        <div class="gifts-img clearfix">
                            <img class="img-1 fl" src="../../assets/images/shejiyishu/sjys-69.png" alt="">
                            <img class="img-2 fl" src="../../assets/images/shejiyishu/sjys-70.png" alt="">
                        </div>
                    </li>
                    <li class="use">
                        使用说明：<span>报读任一业余制专业课程可直接使用抵扣券减免学费。</span>
                    </li>
                </ul>
            </div>
            <div class="discount-wrapper discount-2 fl  ">
                <div class="header">
                    <img class="pos-abs-img" src="../../assets/images/shejiyishu/sjys-68.png" alt="">
                    <h3>全年级课程福利</h3>
                </div>
                <ul class="details">
                    <li class="buy"><span>购任一全年级课程</span></li>
                    <li class="gift">
                        <span>赠送</span>
                        <div class="gifts">
                            ¥4980《网页设计》或<br>
                            ¥1980《摄影》一年级课程
                        </div>
                    </li>
                    <li class="use">
                        使用说明：<span>此优惠通用于任一专业的全日制和业余制班。</span>
                    </li>
                </ul>
            </div>
            <div class="discount-wrapper discount-3 fl ">
                <div class="header">
                    <img class="pos-abs-img" src="../../assets/images/shejiyishu/sjys-67.png" alt="">
                    <h3>预订学位早鸟价</h3>
                </div>
                <div class="details clearfix">
                    <p class="details-left fl">
                        <span class="num">本周仅限<i>20个名额</i></span>
                        <em class="hurry">赶快行动</em>
                    </p>
                    <ul class="details-list fl">
                        <li class="details-tit">
                            <span class="courses">课程</span><span class="price">原价</span><span class="month">3月</span><span class="month">4月</span><span class="month">5月</span><span class="month">6月</span>
                        </li>
                        <li class="details-cont">
                            <span class="courses">设计美术</span><span class="price">¥19800</span><span class="month">¥198</span><span class="month">¥598</span><span class="month">¥1098</span><span class="month">¥1980</span>
                        </li>
                        <li class="details-cont">
                            <span class="courses">PS软件基础</span><span class="price">¥16800</span><span class="month">¥168</span><span class="month">¥568</span><span class="month">¥1068</span><span class="month">¥1680</span>
                        </li>
                        <li class="details-cont">
                            <span class="courses">全日制课程<em>例:室内设计一年级</em></span><span class="price">¥12800</span><span class="month">¥8320</span><span class="month">¥8960</span><span class="month">¥9600</span><span class="month">¥10240</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="apply   " href="">优惠名额限额热招中&ensp;<span>立即申请</span></a>
    </div>
</div>
<!--优惠专区结束-->
<!--地图开始-->
<div class="panel address" id="address" data-section-name="address" >
    <div class="container_1200 address-in">
        <div id="slideBox-4" class="slideBox-4">
            <div class="hd">
                <ul class="clearfix">
                    <li class="on">龙岗校区(总部) <div class="line"></div></li>
                    <li class="">南山实训基地<div class="line"></div></li>
                    <li class="">宝安校区<div class="line"></div></li>
                    <li class="">福田校区<div class="line"></div></li>
                    <li class="">广州校区<div class="line"></div></li>
                    <li class="">东莞校区<div class="line"></div></li>
                    <li class="">沙井校区<div class="line"></div></li>
                    <li class="">服装中心<div class="line"></div></li>
                </ul>
            </div>
            <div class="bd" >
                <ul class="bd-cont">
                    <li class="address-wrapper clearfix">
                        <div class="left fl marginleft_44">
                            <div class="address-header">
                                <h3>龙岗校区(总部)</h3>
                                <p class="english">Longgang Headquarters</p>
                                <div class="line"></div>
                            </div>
                            <ul class="address-details">
                                <li>报名电话：400-000-0000</li>
                                <li>地址：深圳市龙岗区</li>
                                <li>邮编：518000</li>
                                <li>深圳南山中心乘车路线</li>
                                <li>路线1：乘坐1号线-</li>
                                <li>路线2：乘坐5号线-</li>
                                <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                            </ul>
                            <a href="" class="more">了解更详细内容</a>
                        </div>
                        <div class="map fr" id="map-longgang">
                            <script type="text/javascript">
                                var map = new BMap.Map("map-longgang");
                                // 创建地图实例
                                var point = new BMap.Point(114.252304,22.716684);
                                // 创建点坐标
                                map.centerAndZoom(point, 19);
                                // 初始化地图，设置中心点坐标和地图级别

                                function addMarker(point) {  // 创建图标对象
                                    var myIcon = new BMap.Icon("../../assets/images/shejiyishu/sjys-76.png", new BMap.Size(77, 77), {
                                        // 指定定位位置。
                                        // 当标注显示在地图上时，其所指向的地理位置距离图标左上
                                        // 角各偏移10像素和25像素。您可以看到在本例中该位置即是
                                        // 图标中央下端的尖角位置。
                                        anchor: new BMap.Size(-10, 20),
                                        // 设置图片偏移。
                                        // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您
                                        // 需要指定大图的偏移位置，此做法与css sprites技术类似。
                                        //imageOffset: new BMap.Size(0, 0)   // 设置图片偏移
                                    });
                                    // 创建标注对象并添加到地图
                                    var marker = new BMap.Marker(point, {icon: myIcon});
                                    map.addOverlay(marker);
                                }
                                addMarker(point);
                            </script>
                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>南山实训基地</h3>
                                    <p class="english">Nanshan Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市南山区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>
                            <div class="map fr" id="map-nanshan">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-nanshan");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>宝安校区</h3>
                                    <p class="english">Baoan Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市龙岗区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>
                            <div class="map fr" id="map-baoan">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-baoan");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>福田校区</h3>
                                    <p class="english">Futian Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市龙岗区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>
                            <div class="map fr" id="map-futian">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-futian");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>广州校区</h3>
                                    <p class="english">Guanzhou Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市龙岗区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>
                            <div class="map fr" id="map-guanzhou">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-guanzhou");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>东莞校区</h3>
                                    <p class="english">Dongguan Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市龙岗区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>
                            <div class="map fr" id="map-dongguan">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-dongguan");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>沙井校区</h3>
                                    <p class="english">Shajing Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市龙岗区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>
                            <div class="map fr" id="map-shajing">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-shajing");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>

                        </div>
                    </li>
                </ul>
                <ul class="bd-cont">
                    <li class="address-wrapper">
                        <div class="clearfix">
                            <div class="left fl marginleft_44">
                                <div class="address-header">
                                    <h3>服装中心</h3>
                                    <p class="english">Fuzhuang Headquarters</p>
                                    <div class="line"></div>
                                </div>
                                <ul class="address-details">
                                    <li>报名电话：400-000-0000</li>
                                    <li>地址：深圳市龙岗区</li>
                                    <li>邮编：518000</li>
                                    <li>深圳南山中心乘车路线</li>
                                    <li>路线1：乘坐1号线-</li>
                                    <li>路线2：乘坐5号线-</li>
                                    <li>更多路线：深圳其他地区乘车可登陆 http://shenzhen.8684.cn 查询</li>
                                </ul>
                                <a href="" class="more">了解更详细内容</a>
                            </div>

                            <div class="map fr" id="map-fuzhuang">
                                <script type="text/javascript">
                                    var map = new BMap.Map("map-fuzhuang");
                                    // 创建地图实例
                                    var point = new BMap.Point(113.928748,22.52311);
                                    // 创建点坐标
                                    map.centerAndZoom(point, 19);
                                    // 初始化地图，设置中心点坐标和地图级别

                                    addMarker(point);
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--地图结束-->

<!--底部开始-->
<div class="g-footer">
    <div class="container_1200">
        <div class="footer-top clearfix">
            <div class="fl left">
                <p class="footer-nav">
                    <a  href="{{ path('about_page') }}#a1">关于我们</a>
                    <span>/</span><a href="{{ path('about_page') }}#a2">企业文化</a>
                    <span>/</span><a href="{{ path('about_page') }}#a4">申请合作</a>
                    <span>/</span><a href="{{ path('about_page') }}#a3">联系我们</a>
                    <span>/</span><a href="{{ path('join_page') }}">加入我们</a>
                </p>
                <ul class="footer-link clearfix" >
                    <li class="first">
                        <i class="icon"><img src="../../assets/images/guanwang/f-1.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">地址</span>
                            <em class="cont">广东省深圳市龙岗校区吉祥地铁站b出口湖广通大厦4楼</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-2.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">邮编</span>
                            <em class="cont">518000</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-3.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">联系号码</span>
                            <em class="cont">400-930-6618</em>
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="fr right">
                <div class="weixin">
                    <img src="../../assets/images/guanwang/f-4.png" alt=""/>
                </div>
                <p class="weixin-desc"> <a name="attention">关注中鹏</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Copyright ©   2008-2018  深圳市中鹏教育科技股份有限公司 ALL RIGHT RESERVED</p>
            <p class="licensing"> <span>备案号:粤ICP备09069122号-25</span></p>
            <ol class="advantage">
                <li><a target="_blank" href="https://szcert.ebs.org.cn/bc8ef7f1-c096-4e40-9dc4-f052ef9c49ae"><img src="{{ asset('assets/images/jixujiaoyu/newGovIcon.png') }}" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>
<!--底部结束-->

<script>
    $(function () {


        /*校区地址的切换*/
        (function() {
            /*校区地址的切换*/
            var oAddress = $('#address'),
                otabs = oAddress.find('.slideBox-4 .hd li'),
                oBdCont = oAddress.find('.bd .bd-cont');
            oBdCont.eq(0).show().siblings().hide();
            otabs.on('mouseenter',function() {
                $(this).addClass('on').siblings().removeClass('on');
                var index = $(this).index();
                oBdCont.eq(index).show().siblings().hide();
            });

            /*百度地图*/
        })();

        $(".star_tutor_lists li").hover(function () {
            $(this).siblings().removeClass("star_tutor_info_active");
            $(this).addClass("star_tutor_info_active");
        })

    })


</script>

</body>
</html>