<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>继续教育学院首页</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="description" content="这里是对网站的描述">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../assets/css/styleJixujiaoyu.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="font_yahei">

<!--头部1开始-->

<div class="shortcut">
    <div class="container_1200 shortcut_content">
        <div class="shortcut_content_left">
            <a>艺术学院</a>
            <a>管理学院</a>
            <a>灵蜥学院</a>
        </div>
        <div class="shortcut_content_right">
            <a><img src="../../assets/images/jixujiaoyu/wechat.png">关注中鹏</a>
            <a><img src="../../assets/images/jixujiaoyu/consultation.png">咨询群</a>
        </div>
    </div>
</div>

<!--头部1结束-->

<!--头部2开始-->

<div class="logomore">
    <div class="container_1200 logomore_content">
        <div class="logomore_content_left">
            <img src="../../assets/images/jixujiaoyu/logo.png">
            <div class="cityName">
               <div>

               </div>
                <div>

                </div>
            </div>
        </div>
        <div class="logomore_content_right">

        </div>
    </div>
</div>

<!--头部2结束-->

</body>
</html>