<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>继续教育学院首页</title>
    <link href="favicon.ico" rel="shortcut icon">
    <meta name="description" content="这里是对网站的描述">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../assets/css/styleJixujiaoyu.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZpXTKGoufXAqiOE1Qbi3y3BPgrY0OVPs"></script>

</head>
<body class="font_yahei" style="overflow-x: hidden">

<!--头部1开始-->

<div class="shortcut">
    <div class="container_1200 shortcut_content">
        <div class="shortcut_content_left">
            <a>艺术学院</a>
            <a>管理学院</a>
            <a>灵蜥学院</a>
        </div>
        <div class="shortcut_content_right">
            <a><img src="../../assets/images/jixujiaoyu/wechat.png">关注中鹏</a>
            <a><img src="../../assets/images/jixujiaoyu/consultation.png">咨询群</a>
        </div>
    </div>
</div>

<!--头部1结束-->

<!--头部2开始-->

<div class="logomore">
    <div class="container_1200 logomore_content">

        <!--logo开始-->
        <div class="logomore_content_left">
            <img class="logomore_content_left_img" src="../../assets/images/jixujiaoyu/logo.png">
            <div class="names">
               <div class="collegeName">
                   继续教育学院
               </div>
                <div class="cityName">
                    城市：深圳
                    <img src="../../assets/images/jixujiaoyu/citychoose.png">
                </div>
            </div>
        </div>
        <div class="logomore_content_right">
            <div class="search">
                <input type="text" placeholder="搜索课程、通知、疑问疑答">
                <img src="../../assets/images/jixujiaoyu/search.png">
            </div>
            <div class="hotline">
                <img src="../../assets/images/jixujiaoyu/hotline.png">
                <div class="hotline_content">
                    <div class="hotline_content_name">
                        全国统一服务热线
                    </div>
                    <div class="hotline_content_number">
                        400-930-6618
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--logo结束-->

        <!--导航开始-->
        <ul class="nav">
            <li>首页</li>
            <li class="nav_active">课程中心</li>
            <li>自学考试</li>
            <li>成人高考</li>
            <li>网络教育</li>
            <li>开放教育</li>
            <li>学员天地</li>
            <li>问题交流</li>
            <li>资料下载</li>
            <li>关于中鹏</li>
            <div class="clear"></div>
        </ul>
        <!--导航结束-->

    </div>
</div>


<div class="nav_drop_down">
    <div id="nav_drop_down_lists">
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_1.png">
            <div>自考</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_2.png">
            <div>成人高考</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_3.png">
            <div>远程教育</div>
        </div>
        <div class="nav_drop_down_list">
            <img src="../../assets/images/jixujiaoyu/nav_list_4.png">
            <div>本科</div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--头部2结束-->

<!--轮播开始-->
<div class="wiperimg">

    <div id="slideBox" class="slideBox">
        <div class="bd">
            <ul>
                <li><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo.png" /></a></li>
                <li><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo.png" /></a></li>
                <li><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo.png" /></a></li>
            </ul>
        </div>

        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>

    </div>

    <script id="jsID" type="text/javascript">
        var ary = location.href.split("&");
        jQuery(".slideBox").slide( { mainCell:".bd ul", effect:ary[1],autoPlay:ary[2],trigger:ary[3],easing:ary[4],delayTime:ary[5],mouseOverStop:ary[6],pnLoop:ary[7] });
    </script>


</div>
<div class="wiperinfo container_1200">
        <div class="wiperinfo_list wiperinfo_active">
            <div class="wiperinfo_img">
                <img src="../../assets/images/jixujiaoyu/blue_grant.png">

            </div>
            <div class="wiperinfo_name">
                助学金计划<br>
                Financial aid
            </div>
        </div>
        <div class="wiperinfo_list">
            <div class="wiperinfo_img">
                <img src="../../assets/images/jixujiaoyu/blue_stages.png">
            </div>
            <div class="wiperinfo_name">
                分期付款优惠<br>
                Installment credit
            </div>
        </div>
        <div class="wiperinfo_list">
            <div class="wiperinfo_img">
                <img src="../../assets/images/jixujiaoyu/blue_loan.png">
            </div>
            <div class="wiperinfo_name">
                0利率贷款优惠<br>
                Interest rate loans
            </div>
        </div>
        <div class="wiperinfo_list_block">
             <div class="learn_more">了解更多优惠</div>
            <div class="shadow"></div>
        </div>
        <div class="clear"></div>
</div>

<!--轮播结束-->

<!--公告开始-->
<div class="container_1200 note">
    <div class="note_icon">
        <img src="../../assets/images/jixujiaoyu/note.png">
    </div>
    <div class="note_tips">
        <h3>公告</h3>
        <div class="note_li">
                <a href="#">2018年02月26，广东开发大学入学考试</a>
                <a href="#">2018年02月26，广东开发大学入学考试</a>
                <a href="#">2018年02月26，广东开发大学入学考试</a>
        </div>
    </div>
    <div class="clear"></div>

</div>
<!--公告结束-->

<!--学历提升方案开始-->
<div class="education container_1200">
    <div class="education_head">
        <h2>五大学历提升方案，适合所有人群</h2>
        <div><img src="../../assets/images/jixujiaoyu/programme.png">免费获取个人学历方案</div>
        <h1 class="clear"></h1>
    </div>
    <ul class="color_block">
        <li>
            <h3>高中学历</h3>
            <h5>学本科</h5>
        </li>
        <li>
            <h3>高中学历</h3>
            <h5>升专科</h5>
        </li>
        <li>
            <h3>专科学历</h3>
            <h5>升本科</h5>
        </li>
        <li>
            <h3>低学历</h3>
            <h5>升专科</h5>
        </li>
        <li>
            <h3>低学历</h3>
            <h5>学本科</h5>
        </li>
        <div class="clear"></div>
    </ul>

</div>
<!--学历提升方案结束-->


<!--学历提升方案开始-->
<div id="swidth" style="width: 1200px;overflow: visible;margin: auto;">
    <div class="education" style="margin-top:72px;">
        <div class="education_head">
            <h2>名校推荐</h2>
            <div style="width: 143px;"><img src="../../assets/images/jixujiaoyu/appraisal.png">学历鉴定</div>
            <h1 class="clear"></h1>
        </div>


        <div class="picScroll-left" style="position: relative;left: -400px;">

            <div class="bd">
                <ul class="picList"  >
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo1.png" /></a></div>
                        <div class="title">
                            <a href="#" target="_blank">效果图1</a>

                        </div>

                        <div class="lists_name">
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div class="clear"></div>
                        </div>
                        <div class="lists_more">
                            <span>
                            查看招生信息
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo2.png" /></a></div>
                        <div class="title">
                            <a href="#" target="_blank">效果图2</a>
                        </div>
                        <div class="lists_name">
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div class="clear"></div>
                        </div>
                        <div class="lists_more">
                            <span>
                            查看招生信息
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo3.png" /></a></div>
                        <div class="title">
                            <a href="#" target="_blank">效果图3</a>
                        </div>
                        <div class="lists_name">
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div class="clear"></div>
                        </div>
                        <div class="lists_more">
                            <span>
                            查看招生信息
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo1.png" /></a></div>
                        <div class="title">
                            <a href="#" target="_blank">效果图4</a>
                        </div>
                        <div class="lists_name">
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div class="clear"></div>
                        </div>
                        <div class="lists_more">
                            <span>
                            查看招生信息
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo2.png" /></a></div>
                        <div class="title">
                            <a href="#" target="_blank">效果图5</a>
                        </div>
                        <div class="lists_name">
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div class="clear"></div>
                        </div>
                        <div class="lists_more">
                            <span>
                            查看招生信息
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/lunbo3.png" /></a></div>
                        <div class="title">
                            <a href="#" target="_blank">效果图6</a>

                        </div>
                        <div class="lists_name">
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div>会计</div>
                            <div class="clear"></div>
                        </div>

                        <div class="lists_more">
                            <span>
                            查看招生信息
                            </span>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="hd">
                <a class="next"></a>
                <ul></ul>
                <a class="prev"></a>
               <!-- <span class="pageState"></span>-->
            </div>
        </div>

        <script type="text/javascript">
            jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:5,trigger:"click"});
        </script>



    </div>

</div>
<!--学历提升方案结束-->


<!--热门专业开始-->
<div class="hot_subject">
    <div class="education container_1200">
        <div class="education_head">
            <h2>热门专业</h2>
            <div><img src="../../assets/images/jixujiaoyu/test.png">测试适合学什么</div>
            <h1 class="clear"></h1>
        </div>


        <div class="slideTxtBox">
            <div class="hd">
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <span class="arrow"><a class="next"></a><a class="prev"></a></span>

                <ul><li>教育</li><li>培训</li><li>出国</li></ul>
            </div>
            <div class="bd">
                <ul>
                    <li>   <img src="../../assets/images/jixujiaoyu/hot1.png">

                    <div class="details">
                        <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                      <div  class="view_details">
                          <div> 人力资源管理</div>
                          <div>查看详情</div>
                      </div>
                    </div>
                    </li>

                    <li>   <img src="../../assets/images/jixujiaoyu/hot2.png">


                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>

                    </li>
                    <li>   <img src="../../assets/images/jixujiaoyu/hot3.png">

                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>

                    </li>
                    <li>    <img src="../../assets/images/jixujiaoyu/hot4.png">

                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>
                    </li>
                    <li>   <img src="../../assets/images/jixujiaoyu/hot5.png">

                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>

                    </li>
                    <li>  <img src="../../assets/images/jixujiaoyu/hot6.png">

                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>

                    </li>
                    <li>   <img src="../../assets/images/jixujiaoyu/hot7.png">

                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>

                    </li>
                    <li>   <img src="../../assets/images/jixujiaoyu/hot8.png">

                        <div class="details">
                            <p>本专业培养具备管理、经济、法律及人力资源管理等方面的知识和能力，能在事业单位及政府部门从事人力资源管理以及教学、科研方面工作的工商管理学科专门人才</p>


                            <div  class="view_details">
                                <div> 人力资源管理</div>
                                <div>查看详情</div>
                            </div>
                        </div>

                    </li>
                    <li style="position:relative;"> <a>  <img src="../../assets/images/jixujiaoyu/hot9.png"> </a>
                    <div class="view_more">查看更多专业</div>

                    </li>
                    <div class="clear"></div>
                </ul>
                <ul>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">耶鲁小子：教你备考SAT</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">施强：高端专业语言教学</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">【推荐】名校英语方法曝光！</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">2012高考“考点”大曝光!!</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">涨价仍爆棚假日旅游冰火两重天</a></li>
                </ul>
                <ul>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">2012世界大学排名新鲜出炉</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">新加坡留学，国际双语课程</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">高考后留学日本名校随你选</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">教育培训行业优势资源推介</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">即刻预约今年最后一场教育展</a></li>
                    <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">女友坚持警局完婚不抛弃</a></li>
                </ul>
            </div>
        </div>

        <script id="jsID1" type="text/javascript">
            var ary = location.href.split("&");
            jQuery(".slideTxtBox").slide( { effect:ary[1],autoPlay:ary[2],trigger:ary[3],easing:ary[4],delayTime:ary[5],pnLoop:ary[6] });
        </script>



    </div>
</div>
<!--热门专业结束-->



<!--继续学院新闻开始-->
<div class="education news_info container_1200" >
    <div class="education_head" >
        <h2>继续学院新闻</h2>
        <h2 style="float: right;position: relative;right: 125px;">考试时间</h2>
        <h1 class="clear"></h1>
    </div>

    <ol class="news">
        <li>
            <span>通知</span>
            2017年申请学士学位相关条件及政策

        </li>
        <li>
            <span>活动</span>
        2016深圳成人高考报读流程

        </li>
        <li>
            <span>公告</span>
             2017年10月自学考试新生报名报考须知

        </li>
        <li>
            <span>通知</span>
             2017深圳网络教育统考须知

        </li>
        <li>
            <span>活动</span>
            2016深圳成人高考报考条件

        </li>
        <li>
            <span>公告</span>
            2017深圳成人高考入学考试须知

        </li>
        <li>
            <span>通知</span>
            2017年申请学士学位相关条件及政策

        </li>
        <div class="news_more">更多新闻</div>
    </ol>

    <div class="activity">
        <b>3月活动</b>

        <div>惊喜3月礼不断，中鹏巨惠等你来</div>
    </div>
    <div class="activity">
        <b>元宵狂庆</b>

        <div>惊喜3月礼不断，中鹏巨惠等你来</div>
    </div>
<div class="clear"></div>


    <div class="news_calendar">


    </div>


</div>
<!--继续学院新闻结束-->

<!--报考指南开始-->
<div class="guide container_1200">

    <div class="guide_left">
       <h3>2018年报考指南</h3>

        <ul>
            <li>行政管理</li>
            <li>考试科目</li>
            <li>考试教材</li>
            <li>咨询入口</li>
            <li>报名条件</li>
            <li>学制改革</li>
            <li>报考规定</li>
            <li>合格标准</li>
            <li>学位申请</li>
        </ul>

    </div>

    <div class="guide_right">

        <div>

            <h3>考试报名时间</h3>
            <span>查询专区</span>


        </div>


    </div>

    <div class="clear"> </div>


</div>
<!--报考指南结束-->

<!--问题解答开始-->

<div class="answer container_1200">
    <div class="answer_title">
        <h3>问题解答</h3>
        <span>PROBLEM SOLVING</span>
        <hr />
    </div>

    <div class="answer_content">

        <h3>自学考试</h3>
        <span>SELF-STUDY EXAM</span>

        <ul>

            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段五步法三段五步法是...</li>
            <li>自考学习三段三段五五步法是什么?</li>
            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段法是什么?</li>
        </ul>


        <div class="answer_more answer_more_blue">更多</div>
    </div>

    <div class="answer_content">

        <h3>自学考试</h3>
        <span>SELF-STUDY EXAM</span>

        <ul>

            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段五步法三段五步法是...</li>
            <li>自考学习三段三段五五步法是什么?</li>
            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段法是什么?</li>
        </ul>


        <div class="answer_more answer_more_purple">更多</div>
    </div>

    <div class="answer_content">

        <h3>自学考试</h3>
        <span>SELF-STUDY EXAM</span>

        <ul>

            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段五步法三段五步法是...</li>
            <li>自考学习三段三段五五步法是什么?</li>
            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段法是什么?</li>
        </ul>


        <div class="answer_more answer_more_darkblue">更多</div>
    </div>

    <div class="answer_content" style="margin-right: 0 ;">

        <h3>自学考试</h3>
        <span>SELF-STUDY EXAM</span>

        <ul>

            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段五步法三段五步法是...</li>
            <li>自考学习三段三段五五步法是什么?</li>
            <li>自考学习三段五步法是什么?</li>
            <li>自考学习三段法是什么?</li>
        </ul>


        <div class="answer_more answer_more_brown">更多</div>
    </div>

    <div class="clear"></div>

</div>

<!--问题解答结束-->



<!--资料下载开始-->
<div class="files">
    <div class="education container_1200">
        <div class="education_head">
            <h2>资料下载</h2>
            <h1 class="clear"></h1>
        </div>
    </div>
    <div class="file_download">

        <div class="container_1200" style="position:relative;">

            <div class="slideTxtBox1">
                <div class="hd">
                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                    <span class="arrow"><a class="next"></a><a class="prev"></a></span>

                    <ul><li>自考</li><li>成考</li><li>网教</li></ul>
                </div>
                <div class="bd">
                    <ul>
                        <li><a href=" " target="_blank">名师教作文：３妙招巧写高分</a><a class="date_download">下载</a></li>
                        <li><a href=" " target="_blank">耶鲁小子：教你备考SAT</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">施强：高端专业语言教学</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">数理化老师竟也看学习资料？</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">【推荐】名校英语方法曝光！</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">2012高考“考点”大曝光!!</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
                        <div class="clear"></div>
                    </ul>
                    <ul>
                        <li><a href=" " target="_blank">名师教作文：３妙招巧写高分</a><a class="date_download">下载</a></li>
                        <li><a href=" " target="_blank">耶鲁小子：教你备考SAT</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">施强：高端专业语言教学</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">数理化老师竟也看学习资料？</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">【推荐】名校英语方法曝光！</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">2012高考“考点”大曝光!!</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
                        <div class="clear"></div>
                    </ul>
                    <ul>
                        <li><a href=" " target="_blank">名师教作文：３妙招巧写高分</a><a class="date_download">下载</a></li>
                        <li><a href=" " target="_blank">耶鲁小子：教你备考SAT</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">施强：高端专业语言教学</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">数理化老师竟也看学习资料？</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">【推荐】名校英语方法曝光！</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">2012高考“考点”大曝光!!</a><a class="date_download">下载</a></li>
                        <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

            <script id="jsID2" type="text/javascript">
                var ary = location.href.split("&");
                jQuery(".slideTxtBox1").slide( { effect:ary[1],autoPlay:ary[2],trigger:ary[3],easing:ary[4],delayTime:ary[5],pnLoop:ary[6] });
            </script>


            <div class="policy">

                <h3>国家政策</h3>
                <h4>NATIONAL POLICY</h4>

                <ul>
                    <li>
                        自考学习三段五步法是什么?
                    </li>
                    <li>
                        自考学习三段五步法是什么?
                    </li>
                    <li>
                        自考学习三段五步法是什么?
                    </li>
                    <li>
                        自考学习三段五步法是什么?
                    </li>
                    <li>
                        自考学习三段五步法是什么?
                    </li>
                </ul>

                <div class="news_more">更多新闻</div>

            </div>

        </div>
    </div>
</div>
<!--资料下载结束-->

<!--中鹏荣誉开始-->
<div class="education container_1200">
    <div class="education_head">
        <h2>中鹏荣誉</h2>
        <h1 class="clear"></h1>
    </div>



    <div class="picScroll-left1">
        <div class="hd">
            <a class="next"></a>
            <a class="prev"></a>
        </div>
        <div class="bd">
            <ul class="picList">
                <li>
                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/certificate1.png" /></a></div>
                </li>
                <li>
                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/certificate1.png" /></a></div>
                </li>
                <li>
                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/certificate1.png" /></a></div>
                </li>
                <li>
                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/certificate1.png" /></a></div>
                </li>
                <li>
                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/certificate1.png" /></a></div>
                </li>
                <li>
                    <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../assets/images/jixujiaoyu/certificate1.png" /></a></div>
                </li>
            </ul>
        </div>
    </div>

    <script id="jsID3" type="text/javascript">
        jQuery(".picScroll-left1").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4});
    </script>




</div>



<!--中鹏荣誉结束-->
<!--学院风采开始-->

<div class="container_1200 college">
    <div class="college_left">

        <div class="college_left_content">

            <div class="college_left_content_tab college_active">
                <span>开学典礼</span>
                <label>OPENING CERMONY</label>

            </div>

            <div class="college_left_content_tab">
                <span>毕业留影</span>
                <label>GRADUATION PHOTOS</label>

            </div>
        </div>


    </div>
    <div class="college_right">
        <h2>学员风采</h2>

        <div class="picScroll-left2">

            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/college1.png" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/college2.png" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/college3.png" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/college1.png" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/college3.png" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="#" target="_blank"><img src="../../assets/images/jixujiaoyu/college2.png" /></a></div>
                    </li>
                </ul>
            </div>
            <div class="hd">
                <a class="next"></a>
                <a class="prev"></a>
            </div>
        </div>

        <script id="jsID4" type="text/javascript">
            jQuery(".picScroll-left2").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:3});
        </script>

    </div>
    <div class="clear"></div>

</div>

<!--学院风采结束-->
<!--校区分布开始-->
<div class="container_1200 campus">
   校区分布
</div>

<div class="campus_map">
    <div id="campus_map"></div>




<div class="slideTxtBox2">
    <div class="hd">
        <ul><li>自考</li><li>成考</li><li>网教</li></ul>
    </div>
    <div class="bd">
        <ul>
            <li><a href=" " target="_blank">名师教作文：３妙招巧写高分</a><a class="date_download">下载</a></li>
            <li><a href=" " target="_blank">耶鲁小子：教你备考SAT</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">施强：高端专业语言教学</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">数理化老师竟也看学习资料？</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">【推荐】名校英语方法曝光！</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">2012高考“考点”大曝光!!</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
            <div class="clear"></div>
        </ul>
        <ul>
            <li><a href=" " target="_blank">名师教作文：３妙招巧写高分</a><a class="date_download">下载</a></li>
            <li><a href=" " target="_blank">耶鲁小子：教你备考SAT</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">施强：高端专业语言教学</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">数理化老师竟也看学习资料？</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">【推荐】名校英语方法曝光！</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">2012高考“考点”大曝光!!</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
            <div class="clear"></div>
        </ul>
        <ul>
            <li><a href=" " target="_blank">名师教作文：３妙招巧写高分</a><a class="date_download">下载</a></li>
            <li><a href=" " target="_blank">耶鲁小子：教你备考SAT</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">施强：高端专业语言教学</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">数理化老师竟也看学习资料？</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">【推荐】名校英语方法曝光！</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">2012高考“考点”大曝光!!</a><a class="date_download">下载</a></li>
            <li> <a href=" " target="_blank">涨价仍爆棚假日旅游冰火两重天</a><a class="date_download">下载</a></li>
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<script id="jsID5" type="text/javascript">
    var ary = location.href.split("&");
    jQuery(".slideTxtBox2").slide( { effect:ary[1],autoPlay:ary[2],trigger:ary[3],easing:ary[4],delayTime:ary[5],pnLoop:ary[6] });
</script>
</div>

<!--校区分布结束-->

<br><br><br><br><br><br><br><br><br><br><br><br>

<!--合作伙伴开始-->

<div class="container_1200">

    <div class="cooperation">
            <div class="cooperation-header">
                <h2 class="tit">合作伙伴</h2>
                <p class="sub-tit">COOPERATION PARTNER</p>
                <div class="line"></div>
            </div>
            <div class="cooperation-content">
                <ul class="cooperation-partner-list">
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <li><a href=""><img src="../../assets/images/guanwang/16.jpg" alt=""/></a></li>
                    <div class="clear"></div>
                </ul>
            </div>


    </div>


    <ul class="link">
        <li>
            友情链接：
        </li>
        <li>
            在职自考网
        </li>
        <li>
            设计之窗
        </li>
        <li>
            深圳大学继续教育学院
        </li>
        <div class="clear"></div>
    </ul>

</div>

<!--合作伙伴结束-->

<!--底部开始-->

<div class="g-footer">
    <div class="container_1200">
        <div class="footer-top clearfix">
            <div class="fl left">
                <p class="footer-nav">
                    <a href="">关于我们</a>
                    <span>/</span><a href="">企业文化</a>
                    <span>/</span><a href="">法律声明</a>
                    <span>/</span><a href="">申请合作</a>
                    <span>/</span><a href="">联系我们</a>
                    <span>/</span><a href="">加入我们</a>
                </p>
                <ul class="footer-link clearfix" >
                    <li class="first">
                        <i class="icon"><img src="../../assets/images/guanwang/f-1.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">地址</span>
                            <em class="cont">广东省深圳市龙岗校区吉祥地铁站b出口湖广通大厦4楼</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-2.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">邮编</span>
                            <em class="cont">100048</em>
                        </p>
                    </li>
                    <li class="underline">
                        <i class="icon"><img src="../../assets/images/guanwang/f-3.png" alt=""/></i>
                        <p class="link-item">
                            <span class="tit">联系号码</span>
                            <em class="cont">400-930-6618</em>
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="fr right">
                <div class="weixin">
                    <img src="../../assets/images/guanwang/f-4.png" alt=""/>
                </div>
                <p class="weixin-desc">关注中鹏</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Copyright ©2001-2018 WENDU Corporation All Rights ReservedXXXXX有限公司 版权所有</p>
            <p class="licensing"><span>XXX出版许可:XXXXXX100085号</span> <em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span><em>|</em><span>XXX出版许可:XXXXXX100085号</span></p>
            <ol class="advantage">
                <li><a href=""><img src="../../assets/images/guanwang/f-5.png" alt=""/></a></li>
                <li><a href=""><img src="../../assets/images/guanwang/f-6.png" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>

<!--底部结束-->





<script>

    window.onload = function() {
            $(".search input").focus(function () {
                $(".search").css("border-color", "#d0d0d0");
            });
            $(".search input").blur(function () {
                $(".search").css("border-color", "#999999");
            });
            var obj = $(".nav_drop_down_list");
            $("#nav_drop_down_lists").css("width",obj.length*148);

    }
</script>

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("campus_map",{minZoom:10,maxZoom:25});
    var point = new BMap.Point(114.101551,22.553871);
    map.centerAndZoom(point, 22);
    map.enableScrollWheelZoom(true);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    marker.addEventListener("click",getAttr);
    function getAttr(){
        var p = marker.getPosition();       //获取marker的位置
        alert("marker的位置是" + p.lng + "," + p.lat);
    }
</script>


</body>
</html>